@charset "UTF-8";
@font-face 
{
font-family: 'Playfair Display',
'Abril Fatface', cursive, 
'Oswald', sans-serif,
'Anton', serif;
}

h1 { 
	font-family: 'Abril Fatface', Helvetica, Arial, sans-serif;
	font-size: 25px; 
	padding: 1em;
}


main span {
  padding: 0.75em 1em;
  cursor: pointer;
}

#siteContainer 
{
	margin: 0 auto;
	width: 970px;
	padding-left: 20px;
	padding-right: 20px;
}

