@charset "UTF-8";
@font-face 
{
font-family: 'Playfair Display',
'Abril Fatface', cursive, 
'Oswald', sans-serif,
'Anton', serif;
}

h1 { 
	font-family: 'Abril Fatface', Helvetica, Arial, sans-serif;
	font-size: 25px; 
	padding: 1em;
}



#siteContainer 
{
	margin: 0 auto;
	width: 970px;
	padding-left: 20px;
	padding-right: 20px;
}

.svg-image-wrapper
{
	height: 400px;
	width: 250px;
	padding: 50px;
	padding-left: 25px;
	padding-bottom: 25px;
	margin: 50px;
	cursor: pointer;
}

#box1
{
	display: row;
	justify-content: center;
}

#box2
{
	display: row;
	justify-content: center;
}