body { font-size: 14px; padding: 1em; }

main span {
  padding: 0.75em 1em;
  cursor: pointer;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}


.selected { color: mediumspringgreen; }


.selected::before {
  content: "\2BCC";
}

object { width: 8em; }

.wrapper > * {pointer-events: none }